# .gitignore

# Ignore local configuration files.
/.rspec
/.ruby-gemset
/.ruby-version
Gemfile.lock

# Ignore local and generated documentation.
/coverage
/doc
.yardoc
.yardopts

# Ignore temporary files.
/.byebug_history
/spec/examples.txt
/tmp
